

.theme__decoration--christmas {
    opacity: 0;
    display: none;
}

.theme__decoration--halloween {
    opacity: 1;
    display: flex;
}

.theme__decoration--default {
    display: none;
    opacity: 0;

}